.antras-puslapis{
    margin-top: 2rem;
    padding-top: 0.1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250vh;
}
.antras-nuotraukos{
    position: relative;
    display: flex;
    height: 70vh;
    width: 100%;
}
.antras-nuotraukos::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    margin-top: 0.7vh;
    height: 0.5vh;
    background-color: black;
}
.antras-nuotraukos-zemiau{
    height: 38vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.h2-tekstas{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

 
}
.tekstas-apacioje{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 30%;
    padding-left: 10px;
    

}
.teksto-divas{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.5rem;
    gap:20 0px;
   
}
.tekstas-apacioje a{
    color: black;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}