main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 455vh;
}
.main-ispardavimas{
    background-image: url('../pic/sale0.png');
    width: 100%;
    height: 50vh;


}
.batai{
    width: 100%;
}
.main-ispardavimas-maziukai{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:0 10px;

}
.main-apacia-bendras{
    display: flex;
    width: 100%;
   
    height: 70vh;
    justify-content: space-between;
   
}
.batai-kaire{
   
    width: 48%;
}
.batai-desine{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color:#F2F2F3;
    width: 52%;
    padding-left: 6rem;
    text-align: center;
    gap:10px 0;
}
.pries-footeris{
    width: 100%;
    height: 45vh;
    display: flex;
}
.apacia-mazosios-moterys{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}
.receive{
    width: 100%;
}
.batai-tekstas-desine{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    line-height: 1.7rem;

  
}
.batai-desine a{
        color: black;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

.batai-kaire a{
         color: black;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;

}
.batai-tekstas-kaire{
    display: flex;
    flex-direction: column;
    width: 25%;
    line-height: 1.4rem;
}
.pries-footeris{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 75vh;
    padding-top: 4vh;

}

.pries-footer-tekstas-apacioje{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 17vh;
   
    padding-bottom: 2vh;
    padding-top: 2vh;
}
.pries-footer-tekstas-apacioje a{
          color: black;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}
