main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: blue;
}
.main-ispardavimas{
    background-image: url('../pic/sale0.png');
    width: 100%;
    height: 50vh;
    background-color: aqua;

}
.batai{
    width: 100%;
}
.main-ispardavimas-maziukai{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:0 10px;
    margin-bottom: 10px;
}
.main-apacia-bendras{
    display: flex;
    width: 100%;
    background-color: green;
    height: 70vh;
    justify-content: space-between;
   
}
.batai-kaire{
   
    width: 49%;
}
.batai-desine{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: red;
    width: 49%;
    padding: 2rem;
    text-align: center;
    gap:10px 0;
}
.pries-footeris{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apacia-mazosios-moterys{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    gap: 0 10px;
}
.receive{
    width: 100%;
}